@import './assets/styles/mixins';
@import './assets/styles/base';

.main {
  background-image: linear-gradient(
      to right bottom,
      #2426829d,
      rgba(55, 6, 119, 0.253)
    ),
    url('./assets/images/elon-musk.jpg');
  background-position: top;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;

  @include respond(large-phone) {
    background-position: 70%;
  }
}

// ------------------------------------------------- Navigation ------------------------------------------------- //

.navigation {
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: space-between;

  @media only screen and (max-width: 600px) {
    body {
      color: red;
    }
  }
  @include respond(large-phone) {
    display: block;
    padding-top: 1rem;
    text-align: center;
  }

  &__logo {
    font-size: 1.75rem;
    padding: 0 2rem;

    & a {
      font-family: 'Alfa Slab One', cursive;
      letter-spacing: 2px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;

      &:link,
      &:visited {
        color: #f64672;
      }
      &:hover,
      &:active {
        color: white;
      }
    }
  }

  &__menu {
    width: 100%;

    @include respond(tablet-land) {
      width: 60%;
    }

    @include respond(tablet-port) {
      width: 50%;
    }

    @include respond(large-phone) {
      margin-top: 1rem;
      width: 100%;
    }
    &--list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-end;
      list-style: none;

      @include respond(large-phone) {
        justify-content: center;
      }
    }

    &--item {
      cursor: pointer;
      padding: 0 2rem;

      & a {
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        &:link,
        &:visited {
          color: white;
        }

        &:hover,
        &:active {
          color: blue;
        }
      }
    }
  }
}

// ------------------------------------------------- Hero ------------------------------------------------- //

.hero {
  left: 30%;
  position: absolute;
  top: 70%;
  transform: translate(-50%, -50%);

  @include respond(large-phone) {
    left: 50%;
    position: absolute;
    margin: 0 auto;
    top: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__title {
    color: rgb(236, 236, 236);
    font-family: 'Montserrat', sans-serif;
    font-size: 5.5rem;
    font-weight: 700;
    text-shadow: 1px 1px #e290a4;
    text-transform: uppercase;
    width: 85%;

    @include respond(large-phone) {
      width: 100%;
    }

    & span {
      display: block;
      line-height: 7.5rem;
      opacity: 0;

      @include respond(tablet-port) {
        line-height: 6rem;
        margin: 0 auto;
      }

      @include respond(large-phone) {
        line-height: 5rem;
        margin: 0 auto;
      }
    }

    &--span0 {
      animation: fadeToLeft 1.1s ease-in-out forwards;
      font-size: 4rem;
      letter-spacing: 1px;
      opacity: 0;

      @include respond(phone) {
        font-size: 1.5rem;
      }
    }

    &--span1 {
      animation: fadeToLeft 1.1s ease-in-out 0.5s forwards;
      font-size: 4.5rem;
      letter-spacing: 2px;

      @include respond(tablet-land) {
        font-size: 4.5rem;
        margin: 0 auto;
      }

      @include respond(phone) {
        font-size: 2rem;
      }
    }
    &--span2 {
      animation: fadeToLeft 1.1s ease-in-out 1s forwards;
      font-size: 6.25rem;
      letter-spacing: 3px;

      @include respond(phone) {
        font-size: 3rem;
      }
    }
  }
}

// ------------------------------------------------- About Section ------------------------------------------------- //

.about {
  &__title {
    border-bottom: 2px rgba(246, 70, 114, 0.671) solid;
    color: rgb(90, 90, 90);
    display: block;
    font-size: 3rem;
    margin: 0 auto;
    padding: 2rem 0 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration-color: rgba(246, 70, 114, 0.671);
    width: 35%;

    @include respond(large-phone) {
      font-size: 2rem;
      width: 40%;
    }

    @include respond(phone) {
      width: 60%;
    }
  }
  background-color: rgb(248, 248, 248);
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.5rem;

    @include respond(large-phone) {
      display: block;
    }

    & picture {
      margin: 0 auto;
      width: auto;
    }
  }

  &__image {
    height: 90%;

    @include respond(large-phone) {
      display: none;
    }
  }

  &__text {
    width: 55%;

    @include respond(tablet-land) {
      width: 100%;
    }

    p {
      font-size: 1.05rem;
      line-height: 1.5rem;
      padding-bottom: 1rem;

      @include respond(tablet-land) {
        text-align: center;
      }

      @include respond(large-phone) {
        font-size: 1.2rem;
        text-align: center;
      }
    }

    & p:nth-child(3) {
      @include respond(large-phone) {
        display: none;
      }
    }
  }

  &__read-more a {
    border-bottom: 1px dotted royalblue;
    padding-top: rem;
    text-decoration: none;

    &:link,
    &:visited {
      color: royalblue;
    }
  }
}

// ---------------------------------------------- awards-recognition Section ---------------------------------------------- //

.awards-recognition {
  &__title {
    border-bottom: 2px rgba(246, 70, 114, 0.671) solid;
    color: rgb(90, 90, 90);
    display: block;
    font-size: 3rem;
    margin: 0 auto;
    padding: 2rem 0 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 55%;

    @include respond(tablet-port) {
      width: 75%;
    }

    @include respond(large-phone) {
      font-size: 2rem;
      width: 75%;
    }

    @include respond(phone) {
      font-size: 1.75rem;
      width: 100%;
    }
  }
  &__content {
    font-size: 1.05rem;
    margin-top: 3rem;
    padding-bottom: 5rem;
    text-align: center;
  }

  &__list-header {
    display: grid;
    grid-template-columns: repeat(3, 45% 15% 40%);
    grid-gap: 2px;
    margin-top: 3.5rem;
    margin: 0 auto;
    width: 80%;

    @include respond(large-phone) {
      grid-template-columns: repeat(2, 70% 30%);
      width: 100%;
    }

    & div {
      border-radius: 2px;
      background: #6a6a9c;
      color: white;
      padding: 0.8rem 5px;
    }

    & div:last-child {
      @include respond(large-phone) {
        display: none;
      }
    }
  }

  &__item:nth-child(1) {
    margin-top: 1rem;
  }

  &__item {
    padding: 10px 0;
    width: 80%;

    & div:last-child {
      @include respond(large-phone) {
        display: none;
      }
    }

    & div:first-child {
      @include respond(large-phone) {
        padding: 10px 5px;
      }
    }

    @include respond(large-phone) {
      width: 100%;
    }
    align-items: center;
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(3, 45% 15% 40%);
    margin: 0 auto;

    @include respond(large-phone) {
      grid-template-columns: repeat(2, 70% 30%);
    }
  }

  &__item:nth-child(odd) {
    background: rgb(230, 230, 230);
  }

  &__item:nth-child(even) {
    background: rgb(248, 248, 248);
  }
}

// ---------------------------------------------- Companies Section ---------------------------------------------- //

.companies {
  background-color: rgb(243, 243, 243);

  &__title {
    border-bottom: 2px rgba(246, 70, 114, 0.671) solid;
    color: rgb(90, 90, 90);
    display: block;
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
    padding: 2rem 0 0.5rem 0;
    text-transform: uppercase;
    text-align: center;
    width: 23%;

    @include respond(tablet-port) {
      width: 35%;
    }

    @include respond(large-phone) {
      font-size: 2rem;
      width: 40%;
    }

    @include respond(phone) {
      font-size: 2rem;
      width: 50%;
    }
  }

  &__content {
    margin-top: 3.5rem;
    margin: 0 auto;
    padding-bottom: 5rem;
    text-align: center;
    width: 85%;

    @include respond(large-phone) {
      padding-bottom: 3rem;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    @include respond(large-phone) {
      display: block;
    }
  }

  &__image {
    border-radius: 50%;
    margin: 0 auto;

    @include respond(tablet-land) {
      width: 60%;
    }

    @include respond(tablet-port) {
      width: 50%;
    }

    @include respond(large-phone) {
      border-radius: 2px;
      width: 40%;
    }
  }

  &__name {
    color: rgb(90, 90, 90);
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
    text-transform: uppercase;

    @include respond(large-phone) {
      font-size: 1.25rem;
      padding: 1rem 0;
    }
  }

  &__extra {
    margin: 5rem 0 3rem 0;

    @include respond(large-phone) {
      margin: 3rem 0 0 0;
    }
    & p {
      color: rgb(90, 90, 90);
      font-size: 1.25rem;
      line-height: 1.5rem;
      padding-bottom: 1rem;

      & span {
        font-weight: 600;
        text-transform: uppercase;
        word-spacing: 2px;
      }
    }
  }
}

// ---------------------------------------------- Companies Section ---------------------------------------------- //

.footer {
  background-color: rgb(56, 57, 112);
  color: rgb(240, 240, 240);
  font-size: 1.1rem;

  &__details {
    display: grid;
    grid-template-columns: repeat(2, 60% 40%);
    grid-gap: 2rem;
    padding: 2rem 0;

    @include respond(large-phone) {
      display: block;
      text-align: center;
    }

    & p:first-child {
      color: rgb(255, 255, 255);
      border-bottom: 1px solid white;
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      text-transform: uppercase;
      word-spacing: 2px;
      width: 35%;

      @include respond(large-phone) {
        border-bottom: none;
        width: 100%;
      }
    }
  }

  &__credits {
    padding: 0.5rem 0;
    text-align: center;
  }

  &__link {
    @include respond(large-phone) {
      display: none;
    }
    ul {
      & li {
        line-height: 1.5rem;

        & a {
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          &:visited,
          &:link {
            color: white;
          }

          &:hover {
            color: #f64672;
          }
        }
      }
    }
  }

  .profile-page-link {
    color: #ffffff;
  }
}

// Animation

@keyframes fadeToLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
