// basic css reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// general

body {
  font-family: 'lato', sans-serif;
  color: rgb(20, 20, 20);
  width: 100%;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;

  @include respond(tablet-land) {
    font-size: 93.75%;
  }
  @include respond(tablet-port) {
    font-size: 87.5%;
  }
  @include respond(large-phone) {
    font-size: 82.5%;
  }
  @include respond(phone) {
    font-size: 75%;
  }
}

.container {
  margin: 0 auto;
  width: 90%;
}
